* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(6, 148, 148);
    --secondary-color: rgb(218, 189, 25);
    --tertiary-color: rgb(196, 123, 34);
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header div {
    flex: 1 50%;
}

header div img {
    max-width: 100%;
}


body {
    background-color: var(--secondary-color);
}
.flex {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.left-sidebar {
    flex: 1 33%;
}
.external-resources {
    padding: 20px;
}

.envision-logo img {
    max-width: 30%;
    height: auto;
}

.search-box {
    padding-bottom: 50px;
}
.search-results {
    flex-grow: 2;
    text-align: center;
    flex: 2 67%;
}

.search-results img {
    max-width: 100px;
    height: auto;
    float: left;
}

#search-results-display {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    border: 5px solid var(--tertiary-color);
}

.box-title {
    width: 55%;
}
.species {
    text-align: left;
    flex: 1;
}

@media screen and (max-width: 575px) {
    .left-sidebar, .search-results {
        flex: 1 100%;
    }
    header div {
        flex: 1 100%;
    }
}
h2 {
    color: #551A8B;
}